!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en"}
  %head
    %meta{:"http-equiv" => "Content-type", :content => "text/html;charset=UTF-8"}
    %title My Reminders
    = stylesheet_link_tag 'application', 'ui-lightness/jquery-ui-1.7.2.custom'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'application'
  %body
    .container
      - flash.each do |key, value|
        #flash{:class => key}= h value
      = yield
      .footer